/* @tailwind base;
@tailwind components; */
@tailwind utilities;
@import "tailwindcss";


/* IziFit custom */
:root {
    /* White Filter */
    --white_filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(54deg) brightness(105%) contrast(101%);
}

/* Wave Background */
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
/* End */

.nav-wrapper {
    @apply relative container m-auto p-2;
}

.nav-el-wrapper {
    @apply flex items-center justify-between h-[70px];
}

.img-logo {
    @apply pt-0.5 pl-2 w-[100px] h-[40px];
}

.img-logo img {
    /* filter: var(--white_filter); */
}

.nav-el-items {
    @apply hidden space-x-6 md:flex;
}

.hero-wrapper {
    @apply flex justify-center items-center pt-2 pb-2 pl-7 pr-7 h-full;
}

.video-controll {
  @apply w-full max-w-full rounded-xl shadow-lg object-cover;
  aspect-ratio: 16 / 9; /* održava proporciju */
}

/* Za jako male ekrane – više visine */
@media (max-width: 640px) {
  .video-controll {
    aspect-ratio: 4 / 3; /* veća visina na mobilnim */
    @apply h-auto;
  }
}

/* Za tablet uređaje */
@media (min-width: 641px) and (max-width: 1023px) {
  .video-controll {
    aspect-ratio: 16 / 9;
  }
}

#button-wrapper {
    @apply mt-8 flex justify-center;
}

.button_scroll {
    @apply bg-gradient-to-r from-red-500 to-orange-400 text-white font-semibold text-2xl px-8 py-10 rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 hover:from-orange-500 hover:to-yellow-400 cursor-pointer;
}


.nav-el-text {
    @apply hidden p-3 px-6 pt-2 text-[#fff] md:block text-2xl font-bold border-[#c3b797] border rounded-4xl bg-[#c3b797];
}

/* form-styles.css */
#cta {
    @apply p-2;
}

.form-wrapper {
    @apply max-w-lg mx-auto my-20 p-8 bg-gray-800 rounded-3xl shadow-xl flex flex-col items-center;
}

.input-field {
    @apply w-full px-4 py-3 mb-4 rounded-xl border border-gray-600 bg-gray-700 text-white placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-cyan-500;
}

.textarea-field {
    @apply w-full px-4 py-3 mb-4 rounded-xl border border-gray-600 bg-gray-700 text-white placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-cyan-500 resize-none;
}

.submit-btn {
    @apply px-6 py-3 text-white rounded-full bg-cyan-500 hover:bg-cyan-600 focus:outline-none;
}

.form-heading {
    @apply text-3xl font-bold text-white text-center uppercase;
}
/* End */

/* Features */
#features {
    @apply mb-10;
}

.features-wrapper{
    @apply container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row;
}

.text-wrapper{
    @apply flex flex-col space-y-7 md:w-1/2 justify-center;
}

.text-wrapper-hero h1 {
    @apply text-4xl font-bold text-center md:text-center mx-auto pt-1;
}

.text-wrapper-hero h2 {
    @apply text-2xl text-center md:text-center mx-auto pt-1;
}

.text-h2{
   @apply max-w-md text-5xl font-bold text-center md:text-left;
}

.paragraph{
    @apply max-w-sm text-center text-2xl md:text-left;
}

.n-list {
    @apply flex flex-col space-y-8 md:w-1/2;
}

.list {
    @apply flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row;
}

.img-cont {
    @apply rounded-lg overflow-hidden md:w-full;
}
/* End */

/* Plans */

#plans {
    @apply py-20;
}

.plans-wrapper {
    @apply max-w-6xl mx-auto px-6 text-center;
}

.plans-header {
    @apply text-4xl font-bold text-gray-800 mb-12
}

.card-cont {
    @apply grid gap-8 sm:grid-cols-2 lg:grid-cols-3
}

.card-wrap {
    @apply bg-white rounded-2xl shadow-lg hover:shadow-2xl transition-all duration-300 border border-gray-200 flex flex-col justify-between p-8;
}

.card-wrap-pro {
    @apply bg-gradient-to-b from-amber-200 to-amber-600 rounded-2xl shadow-2xl text-white flex flex-col justify-between p-8 scale-105;
}

.icon {
    @apply w-16 h-16 mx-auto mb-6 flex items-center justify-center bg-amber-100 text-amber-600 rounded-full text-2xl;
}

.plan-text1 {
    @apply text-2xl font-semibold text-gray-800 mb-2;
}

.play-text2 {
    @apply text-2xl font-semibold mb-2;
}
/* End */

body {
    /* @apply bg-[#DDF9F1]; */
    @apply bg-gray-100;
}

@media (min-width: 768px) {
    body::-webkit-scrollbar {
        width: 6px;
    }

    body::-webkit-scrollbar-track {
        @apply bg-[#272727] rounded-full;
    }

    body::-webkit-scrollbar-thumb {
        @apply bg-[#c3b797] rounded-full;
    }
}

#cta {
    /* background-image: url('../img/bg-simplify-section-desktop.svg'); */
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }

    #cta {
        background-image: url("../img/bg-simplify-section-mobile.svg");
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
